 body {
     text-align: center
 }

 .navbar-brand {
     font-family: cursive;
     font-weight: 500;
    }
 
 .nav-link {
     color: black !important;
     font-weight: bold;
 }

 .jumbotron h1 {

     width: 80%;
     margin: 20px auto;
 }

 .lead{
    color: #788EA3;
}

.jumbotron a {
    margin: 20px auto 50px auto;
    border-radius: 3px;
    font-size: 16px;
    padding: 10px 30px;
}

.speakers {
    font-weight: 700;
}

.speakers h3 {
    margin: 20px auto;
}

.speakers p {
    font-size: 20px;
    width: 80%;
    margin: 10px auto;
}

.speaker-cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 10%;
}

.card {
    margin: 50px auto;
    border: none;
    width: 15rem;
    text-align: left;
}

.card-body {
    padding: 20px 0;
}

.card-img-top{
    border-radius: 5px;
}

.card-title {
    font-weight: 700;
}

.card-text {
    color: grey;
    font-weight: 600;
    padding: 10px 0;
}